openapi: 3.1.0
info:
  title: PubMed Search API
  version: 1.0.0
servers:
  - url: https://eutils.ncbi.nlm.nih.gov/entrez/eutils
paths:
  /esearch.fcgi:
    get:
      operationId: searchPubMed
      summary: Search PubMed
      description: Performs a search query on PubMed and returns the results.
      parameters:
        - in: query
          name: db
          required: true
          schema:
            type: string
          description: The database to search (e.g., pubmed).
          example: pubmed
        - in: query
          name: term
          required: true
          schema:
            type: string
          description: The search query term.
          example: cancer
        - in: query
          name: retmode
          required: true
          schema:
            type: string
            enum: [json]
          description: The return mode (e.g., json).
          example: json
        - in: query
          name: api_key
          required: true
          schema:
            type: string
          description: Your API key.
          example: ce4f29dcd12b720518ac5ec6e868dc884508
      responses:
        '200':
          description: A list of PubMed article IDs
          content:
            application/json:
              schema:
                type: object
                properties:
                  esearchresult:
                    type: object
                    properties:
                      idlist:
                        type: array
                        items:
                          type: string
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
